<mat-toolbar color="primary" class="mat-toolbar">
  <span class="app-title">
    <img src='../assets/LogoWhite.png'/>
    lotraC
  </span>
  <div class="toolbar-buttons">
    <button mat-icon-button class="image-button" (click)="home()">
      <img src='../../assets/home-button-white-icon.png' alt="Home" class="icon-image" />
    </button>
    <button class="boton" mat-stroked-button color="link" style="color: white; border: 3px solid #fff;"
      (click)="detail()">Personal Details</button>
    <button class="boton" mat-stroked-button color="link" style="border: 3px solid #fff; color: #ffffff;"
      (click)="logout()">Log Out</button>
  </div>
</mat-toolbar>